{% extends 'base.html' %}

{% block title %}Gestão de Recorrências{% endblock %}

{% block content %}
    <h1>Gestão de Recorrências</h1>
    
    <p class="d-flex justify-content-end"> 
        <a class="btn btn-secondary" href="{% url 'exportar_recorrencias_csv' %}" style="margin-right: 8px;">
            <i class="fa fa-download mr-5"></i> Exportar como CSV
        </a>

        <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#novaRecorrenciasModal">
            <i class="fa fa-plus mr-2"></i> Nova Recorrência
        </a>
    </p>

    <div class="input-group mb-3 mt-4" style="width: 25%;">
        <input type="text" class="form-control" placeholder="Pesquisar por recorrências" aria-label="Pesquisar por nome ou intervalo" aria-describedby="button-addon2" id="pesquisaInput">
        <button class="btn btn-secondary" type="button" id="button-addon2"><i class="fa fa-search"></i></button>
    </div>
    

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Intervalo (dias)</th>
                <th>Ações</th>
            </tr>
        </thead>
        {% if recorrencias %}
        <tbody>
            {% for recorrencia in recorrencias %}
            <tr data-user-id="{{ recorrencia.pk }}">
                <td>{{ recorrencia.nome }}</td>
                <td>{{ recorrencia.intervalo }}</td>
                <td>
                    <a 
                        href="#" 
                        data-bs-toggle="modal" 
                        data-bs-target="#atualizarRecorrenciaModal" 
                        class="btn btn-sm btn-secondary" 
                        onclick="populateUpdateModal('{{ recorrencia.pk }}', '{{ recorrencia.nome }}', '{{ recorrencia.intervalo }}');"
                    >
                        <i class="fa fa-pen"></i>
                    </a>
                    
                    <a 
                        href="#" 
                        data-bs-toggle="modal" 
                        data-bs-target="#excluirRecorrenciaModal" 
                        class="btn btn-sm btn-danger" 
                        onclick="setRecorrenciaIdParaExcluir('{{ recorrencia.pk }}');">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% else %}
        <tbody>
            <tr>
                <td colspan="4" class="text-center">Nenhuma recorrência cadastrada.</td>
            </tr>
        </tbody>
        {% endif %}
    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if recorrencias.has_previous %}
                <li class="page-item" style="color: #222;">
                    <a class="page-link" href="?page=1">Primeira</a>
                </li>
                <li class="page-item" style="color: #222;">
                    <a class="page-link" href="?page={{ recorrencias.previous_page_number }}">Anterior</a>
                </li>
            {% endif %}
            
            {% for i in recorrencias.paginator.page_range %}
                {% if recorrencias.number == i %}
                    <li class="page-item active" style="color: #222;">
                        <span class="page-link">{{ i }}</span>
                    </li>
                {% else %}
                    <li class="page-item" style="color: #222;">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            
            {% if recorrencias.has_next %}
                <li class="page-item" style="color: #222;">
                    <a class="page-link" href="?page={{ recorrencias.next_page_number }}">Próxima</a>
                </li>
                <li class="page-item" style="color: #222;">
                    <a class="page-link" href="?page={{ recorrencias.paginator.num_pages }}">Última</a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <!-- Modal para registrar novo recorrência -->
    <div class="modal fade" id="novaRecorrenciasModal" tabindex="-1" aria-labelledby="novaRecorrenciasModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="novaRecorrenciasModalLabel">Registrar Novo Recorrência</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'recorrencia_create' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="nome" class="form-label">Nome Completo</label>
                            <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome completo" required>
                        </div>
                        <div class="mb-3">
                            <label for="intervalo" class="form-label">Intevalo</label>
                            <input type="numer" class="form-control" id="intervalo" name="intervalo" placeholder="Digite o intevalo" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn" style="background-color: #ffbb33; color: #222;">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para atualizar recorrência -->
    <div class="modal fade" id="atualizarRecorrenciaModal" tabindex="-1" aria-labelledby="atualizarRecorrenciaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="atualizarRecorrenciaModalLabel">Atualizar Recorrência</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="" id="recorrenciaUpdateForm" data-action="{% url 'recorrencia_update' 0 %}">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="">
                        <div class="mb-3">
                            <label for="nome" class="form-label">Nome Completo</label>
                            <input type="text" class="form-control" id="nome" name="nome" required>
                        </div>
                        <div class="mb-3">
                            <label for="intervalo" class="form-label">Intervalo</label>
                            <input type="intervalo" class="form-control" id="intervalo" name="intervalo" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn" style="background-color: #ffbb33; color: #222;">Atualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal para excluir recorrência -->
    <div class="modal fade" id="excluirRecorrenciaModal" tabindex="-1" aria-labelledby="excluirRecorrenciaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="excluirRecorrenciaModalLabel">Excluir Recorrência</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Você tem certeza que deseja excluir este recorrência?</p>
                </div>
                <div class="modal-footer">
                    <form method="POST" action="{% url 'recorrencia_delete' 0 %}" id="recorrenciaDeleteForm">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger" id="confirmarExclusaoBtn">Excluir</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function populateUpdateModal(pk, nome, intervalo) {
            document.getElementById('atualizarRecorrenciaModal').querySelector('input[name="id"]').value = pk;
            document.getElementById('atualizarRecorrenciaModal').querySelector('input[name="nome"]').value = nome;
            document.getElementById('atualizarRecorrenciaModal').querySelector('input[name="intervalo"]').value = intervalo;
        
            // Define a URL correta substituindo o '0' pelo pk
            const form = document.getElementById('recorrenciaUpdateForm');
            const actionUrl = form.dataset.action.replace(/0/, pk);
            form.action = actionUrl;
        }

        function setRecorrenciaIdParaExcluir(pk) {
            const modal = document.getElementById('excluirRecorrenciaModal');
            modal.querySelector('input[name="id"]').value = pk;
        
            // Define a URL correta substituindo '0' pelo pk
            const form = document.getElementById('recorrenciaDeleteForm');
            const actionUrl = form.action.replace(/\/0\//, `/${pk}/`);
            form.action = actionUrl;
        
            // Atualiza o botão de confirmação para que dispare o envio do formulário com a URL correta
            document.getElementById('confirmarExclusaoBtn').addEventListener('click', function() {
                form.submit();
            });
        }

        document.getElementById('pesquisaInput').addEventListener('input', function() {
            const filtro = this.value.toLowerCase();
            const linhas = document.querySelectorAll('table tbody tr');
        
            linhas.forEach(function(linha) {
                const nome = linha.querySelector('td:nth-child(1)').textContent.toLowerCase();
                const email = linha.querySelector('td:nth-child(2)').textContent.toLowerCase();
                
                if (nome.includes(filtro) || email.includes(filtro)) {
                    linha.style.display = ''; // Mostra a linha
                } else {
                    linha.style.display = 'none'; // Oculta a linha
                }
            });
        });        
    </script>    
{% endblock %}